
<%= form_for(@idea, url: form_url) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %>. <%= t('nlt.save_failed') %></h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Idea::CATEGORIES %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true, maxlenght: 200 %>
    <p class="descripcion">(Entre 5 y 200 caracteres)</p>

  </div>
  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction, maxlenght: 500, placeholder: "Explica para qué es buena tu idea..." %>
    <p class="descripcion">(Entre 10 y 500 caracteres)</p>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, placeholder: "Ingredientes, utensilios, herramientas..." %>
    <p class="descripcion">Si quieres poner tus elementos en forma de lista, pon (asterisco) y (espacio) delante de cada elemento. Pej: * Un ingrediente</p>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :rows => 10, placeholder: " " %>
    <p class="descripcion">(Mínimo 10 caracteres)</p>
  </div>

  <div><%= f.label :image %><br />
    <% if @idea.image.presence %>
      La imagen actual: <%= image_tag @idea.image.url(:thumb), :alt => "", :class => "avatar, img-responsive" %>
    <% end %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :tag_list %><br>
    <%= f.text_area :tag_list, placeholder: "Señala los alimentos principales, separados por comas, y alguna categoría de alimentos, ej: pescado, carne, repostería, lácteos…" %>
  </div>

  <% unless params[:action] == "edit" %>
    <dt id="captcha-input-label">
    <label for="captcha-input" class="required">
      <%= t('nlt.please_introduce') %>
    </label>
    </dt>
    <dd id="captcha-element">
      <%= recaptcha_tags(:display => { :theme => "white" }, ajax: true)%>
    </dd>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>