
<div class="col-md-1 col-sm-1 col-xs-12">
  <%= render partial: "users/tabnav", locals: {user: current_user} %>
</div>

<div id="inside" class="col-md-11 col-sm-11 col-xs-12">

<p id="notice"><%= notice %></p>

<h1 class="title-listados">Mis ideas (<%= current_user %>)</h1>


<table id="listados" class="table-responsive">
  <!--<thead>
    <tr>
      <th><%= "Imagen" %></th>
      <th>
        <p><%= t('activerecord.attributes.idea.title') %></p>
        <p><%= t('activerecord.attributes.idea.introduction') %></p>
      </th>
      <th><%= t('activerecord.attributes.idea.category') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to image_tag(idea.image.url(:thumb), :alt => " ", :class => "img-responsive"), idea_url(idea) %></td>
        <td>
          <p><%= link_to idea.title, idea_url(idea) %><p>
          <p><%= truncate_html(markdown(idea.introduction).html_safe, length: 200, omission: ' ... ') %></p>
        </td>
        <td><%= idea.category %></td>
        <td><%= link_to 'Ver', my_idea_path(idea) %></td>
        <td><%= link_to 'Editar', edit_my_idea_path(idea) %></td>
        <td><%= link_to 'Eliminar', my_idea_path(idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn btn-rojo"><%= link_to 'Nueva idea', new_my_idea_path %></div>

</div><!--/inside-->
