<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Introduction</th>
      <th>Ingredients</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.category %></td>
        <td><%= idea.title %></td>
        <td><%= idea.introduction %></td>
        <td><%= idea.ingredients %></td>
        <td><%= idea.body %></td>
        <td><%= link_to 'Show', my_idea_path(idea) %></td>
        <td><%= link_to 'Edit', edit_my_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', my_idea_path(idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_my_idea_path %>
