<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @idea.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @idea.introduction %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @idea.ingredients %>
</p>

<p>
  <strong>Body:</strong>
  <%= @idea.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @idea.image.url(:thumb), :alt => "", :class => "avatar, img-responsive" %>
</p>

<p>
  <strong>Tag_list:</strong>
  <%= @idea.tag_list %>
</p>

<%= link_to 'Edit', edit_my_idea_path(@idea) %>
