<div id="editprofile" class="row">

<div id="profile-block" class="col-md-1 col-sm-1 col-xs-12">  
  <div id="profile-menu">
    <%= render partial: "users/tabnav", locals: {user: @user} %> 
  </div><!-- /profile-menu -->
</div>

<div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-1">

  <center><h1 id="title"><%= t('nlt.user_profile') %> - <%= @user.username %></h1></center>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset>
          <center><h3><%= t('nlt.profile_edit') %></h3></center>
          <%= devise_error_messages! %>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :password %>
            <%= f.password_field :password, :autocomplete => "off", placeholder: t('nlt.leave_blank') %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :city %>
           <%= f.text_field :city %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :province %>
            <%= f.text_field :province %>
          </div> 

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :zipcode %>
            <%= f.text_field :zipcode %>
          </div>

          <div class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :image %>
            <%= f.file_field :image %>
            <p id="img">Tu imagen actual: <%= image_tag @user.image.url(:thumb), :alt => "", :class => "avatar, img-responsive" %></p>
          </div>

          <div id="pss" class="reg-item col-md-12 col-sm-12 col-xs-12">
            <%= f.label :current_password %> 
            <%= f.password_field :current_password %>
            <p><%= t('nlt.we_need_your_password') %></p>
          </div>

          <center><div class="actions"><%= f.submit t('nlt.update') %></div></center>

        </fieldset>
      <% end %>
          
      <hr>
      
      <center>
      <fieldset>
        <h3><%= t('nlt.cancel_my_account') %></h3>

        <p><%= t('nlt.want_to_leave') %> <%= link_to t('nlt.cancel_my_account'), registration_path(resource_name), :data => { :confirm => t('nlt.delete_sure') }, :method => :delete %>.</p>
      </fieldset>
      </center>

</div><!--/cols-->
</div><!-- /editprofile -->