<% content_for(:meta_title, t('nlt.new_user')) %>

<div id="registrate" class="col-md-6 col-md-offset-3">
  <div>
    <h1 id="title"><%= t 'nlt.new_user' %></h1>
    <p>(<%= t 'nlt.if_youre_already_an_user' %>&nbsp;
    <%= link_to t('nlt.access_here'), new_user_session_path, :title => "user login" %>)</p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <fieldset>
      <legend>
        (En la web sólo serán visibles tu nombre de usuario, foto y el código postal)
        <%#= t 'nlt.please_fill_to_become_member' %>
      </legend>  
      <%= devise_error_messages! %>

      <dl class="zend_form">
        <dt id="nombre-label">
        <label for="nombre" class="required">
          <%= 'Nombre y apellidos' %>
        </label>
        </dt>
        <dd id="nombre-element">
        <%= f.text_field :email, :autofocus => true, :required => true, :placeholder => "Nombre y apellidos" %>cambiar
        </dd>

        <dt id="sexo-label">
        <label for="sexo" class="required">
          <%= 'Sexo' %>
        </label>
        </dt>
        <dd id="sexo-element">
        <%= f.text_field :email, :autofocus => true, :required => true %>cambiar
        </dd>

        <dt id="username-label">
        <label for="username" class="required">
          <%= 'Nombre de usuario' %>
        </label>
        </dt>
        <dd id="username-element">
        <%= f.text_field :username, :required => true, :placeholder => "Nombre de usuario" %>
        </dd>
        
        <dt id="password1-label">
        <label for="password1" class="required">
          <%= 'Contraseña' %>
        </label>
        </dt>
        <dd id="password1-element">
        <%= f.password_field :password, :required => true %>
        </dd>
        <dt id="password2-label">
        <label for="password2" class="required">
          <%= 'Repetir contraseña' %>
        </label>
        </dt>
        <dd id="password2-element">
        <%= f.password_field :password_confirmation, :required => true %>
        </dd>

        <dt id="localidad-label">
        <label for="localidad" class="required">
          <%= 'Localidad' %>
        </label>
        </dt>
        <dd id="localidad-element">
        <%= f.text_field :email, :autofocus => true, :required => true, :placeholder => "Localidad" %>cambiar
        </dd>

        <dt id="provincia-label">
        <label for="provincia" class="required">
          <%= 'Provincia' %>
        </label>
        </dt>
        <dd id="provincia-element">
        <%= f.text_field :email, :autofocus => true, :required => true, :placeholder => "Provincia" %>cambiar
        </dd>

        <dt id="codigo-label">
        <label for="codigo" class="required">
          <%= 'Código postal' %>
        </label>
        </dt>
        <dd id="codigo-element">
        <%= f.text_field :email, :autofocus => true, :required => true, :placeholder => "Código postal" %>cambiar
        </dd>

        <dt id="email-label">
        <label for="email" class="required">
          <%= 'Email de contacto' %>
        </label>
        </dt>
        <dd id="email-element">
        <%= f.email_field :email, :autofocus => true, :required => true, :placeholder => "Email" %>
        </dd>

        <div id="insertarimagen" class="btn btn-primary">
          Insertar imagen
        </div> 
     
        <dd id="captcha-element">
          <%= recaptcha_tags(:display => { :theme => "white" }, ajax: true)%>
        </dd>
        <dd id="hidden-elements">
        <dt id="captcha-input-label">
        <label for="captcha-input" class="required">
          <%= t 'nlt.fill_captcha' %>
        </label>
        </dt>
        <!-- FIXME: this doesn't work -->
        <%= f.hidden_field :lang, :value => I18n.locale.to_s %>
        </dd>

        <p>
          [checkbox] <%= 'Acepto recibir las noticias e información de Prosalus' %>
        </p>

        <dt id="submit-label"></dt>
        <dd id="submit-element">
        <%= f.submit 'Confirmar' %>
        </dd>
      </dl>

          <p>Al hacer clic en “Confirmar” acepto la las condiciones de uso y política de protección
de datos que figuran en la <%= link_to 'Información legal', legal_path %> de esta página y declaro tener más de
18 años.</p>
          <%#= t 'nlt.sending_this_form' %>
          <%#= link_to t('nlt.tos'), tos_path %>
          <%#= t 'nlt.and' %>
          <%#= link_to t('nlt.privacy'), privacy_path %>
    </fieldset>
  <% end %>

</div>

