<% if current_user %>
<div class="ad_comment_form">
	<%= form_tag(path) do %>
    <label for="body" class="optional">
      <%= t('nlt.comments.label') %>
    </label>
    <%= text_area_tag("body", "", size: "200x5", maxlength: 300) %>
    <p class="description">
      <%= t 'nlt.comments.body_max' %>
    </p>
    <div class="actions"><%= submit_tag t('nlt.comments.submit') %></div>
  <% end %>
</div>
<% end %>
