<div id="header">
  <div id="menu-cabecera" class="row col-md-12">
    <ul>
      <li class="col-md-2"><%#= link_to 'Descarga App', '#' %></li>
      <li id="rrss" class="col-md-2"> 
        <%= link_to(image_tag("rrss/twitter-48.png", :alt => "Twitter", :id => "twitter", :class=> "img-responsive"), "https://twitter.com/nodesperdicio", :target => "_blank") %>
        <%= link_to(image_tag("rrss/facebook-48.png", :alt => "Facebook", :id => "facebook", :class=> "img-responsive"), "https://www.facebook.com/yonodesperdicio", :target => "_blank") %>
        <%= link_to(image_tag("rrss/youtube-48.png", :alt => "YouTube", :id => "youtube", :class=> "img-responsive"), "https://www.youtube.com/user/Prosalus", :target => "_blank") %>
        <%= link_to(image_tag("rrss/flickr-48.png", :alt => "Flickr", :id => "flickr", :class=> "img-responsive"), "https://www.flickr.com/photos/prosalus/sets/72157636930322324", :target => "_blank") %>
     </li>
      <li class="col-md-2"><%= link_to 'Cómo funciona' , funciona_path %></li>
      <li id="login" class="col-sm-2"><%= link_to t('nlt.login'), new_user_session_path, "data-no-turbolink" => true %></li>
      <li class="col-md-2"><%= link_to t('nlt.new_user'), new_user_registration_path, "data-no-turbolink" => true %></li>
      <!--<li id="buscador" class="col-md-2">[Buscador] <%#= render :partial => "ads/search" %><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>-->
      <li><%= render :partial => "partials/user_actions" %></li>
    </ul>
  </div>

  <div class="row col-md-12">
  <div class="col-md-2 col-xs-1">
    <%= image_tag "propias/Home-comida-izda.png", :alt => "imagen de comida", :id => "comida-izda", :class => "img-responsive" %>
  </div>

  <div class="col-md-8 col-xs-9">
    <div class="site-name">
      <%= link_to root_path, :title => "yonodesperdicio.org home", "data-no-turbolink" => true do %>
        <h1>yonodesperdicio</h1>
        <%=h yield(:title) %>
      <% end %>
    </div>

    <div class="site-slogan">
      <h2><%= t('nlt.slogan') %></h2>
    </div>
  </div>

  <div class="col-md-2 col-xs-1">
    <%= image_tag "propias/Home-comida-dcha.png", :alt => "imagen de comida", :id => "comida-dcha", :class => "img-responsive" %>
  </div>
  </div><!--/container-->

  <nav id="main-menu" class="row col-md-12 col-xs-12">
    <ul>
      <li><%= link_to root_path, :title => "Inicio", :class => menu_class('inicio'), "data-no-turbolink" => true do %>Inicio
      <% end %></li>
      <li><%= link_to 'noticias sin desperdicio' , noticias_path, :class => menu_class('noticias') %></li>
      <li>
        <div class="btn-group">
          <button type="button" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to 'ideas frescas' , ideas_path, :class => menu_class('ideas') %>&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Recetas", ideas_url(category: 'recetas'), :class => submenu_class('recetas') %></li>
            <li><%= link_to "Trucos", ideas_url(category: 'trucos'), :class => submenu_class('trucos') %></li>
          </ul>
        </div><!-- /btn-group -->
      </li>

      <li>
        <div class="btn-group">
          <button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to 'alimentos para compartir' , '#', :class => menu_class('compartir') %>&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Con organizaciones' , organizations_url, :class => submenu_class('organizaciones') %></li>
            <li><%= link_to 'Con particulares' , particulares_url, :class => submenu_class('particulares') %></li>
          </ul>
        </div><!-- /btn-group -->
      </li>  

      <li><%= link_to 'iniciativas sociales' , iniciativas_sociales_path, :class => menu_class('iniciativas') %></li>
    </ul>
  </nav>

  <% if content_for?(:action) %>
    <%= yield(:action) %>
  <% end %>

</div><!--/header-->
