<ul>
  <li><%= link_to 'Descarga App', '#' %></li>
  <li><%= link_to 'RRSS' , '#' %></li>
  <li><%= link_to 'Cómo funciona' , '#' %></li>
  <li><%= render :partial => "partials/user_actions" %></li>
  <li><%= link_to 'Inicia sesión' , '#' %></li>
  <li><%= link_to 'Registrate' , '#' %></li>
</ul>
