<ul>
  <li><%= link_to 'inicio', '#' %></li>
  <li><%= link_to 'noticias' , '#' %></li>
  <li><%= link_to 'ideas frescas' , '#' %></li>
  <li><%= link_to 'alimentos para compartir' , '#' %></li>
  <li><%= link_to 'iniciativas sociales' , '#' %></li>
</ul>
