<% content_for :meta_title, "#{t('nlt.published_ads')} - #{@user.username}" %>

  <h1 class="title-listados"><%= t 'nlt.published_ads' %> por <%= @user.username %></h1>

<div id="main">
  <div class="span-18" id="list-ads-profile">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <% if @ads.count > 0 %>
      <% @ads.each do |ad| %>
        <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
      <% end %>
      <%= render partial: "partials/pagination", locals: { items: @ads } %>
    <% else %>
      <p> <div class="info"> <%= t("nlt.no_results.on_user") %> </div> </p>
    <% end %>
  </div>
</div>
