<h2><%= @idea.title %></h2>

<strong>Id: </strong><%= @idea.id %>

<p><%= @idea.body %></p>

<p><strong>Categoría: </strong><%= @idea.category %></p>
<p><strong>Publicada el: </strong><%= @idea.published_at %></p>
