<div id="listado" class=" row col-md-12">
    <% @ideas.each do |idea| %>

      <div class="col-md-4">
        [IMAGEN]
        <h3><%= link_to 'URL', idea %> (arreglar) <%= idea.title %></h3>
        <p><%= idea.published_at %> (poner sin hora)</p>
        <p><%= idea.body %> (sólo texto, la imagen aparte)</p>
        <p><%= idea.category %> (categorías con link)</p>
        <p>Compartir en RRSS (iconitos para compartir directamente la noticia en RRSS)</p>
      </div>

    <% end %>

<p><%= link_to 'Volver a Ideas' , '/ideas' %> ó Paginación</p>

<p><span class="btn btn-default">Sube tu receta</span> (Para subir una receta es necesario estar registrado)
   <span class="btn btn-default"><%= link_to t('nlt.new_user'), new_user_registration_path, "data-no-turbolink" => true %></span></p>
</div><!-- /listado -->
