<% content_for(:meta_title) {"iniciativas_sociales"} %>

<div class="col-md-10">
<div class="row">
  <p class="introduccion">Día a día aparecen en todo el mundo iniciativas y campañas cuyo objetivo es contribuir a la disminución del desperdicio de alimentos. Cuantos más seamos luchando contra el desperdicio de alimentos, más gente podrá ser consciente de la cantidad de recursos y dinero que desperdiciamos en un mundo finito.</p>
  <p class="introduccion">Aquí puedes encontrar algunas que ya están dando resultados muy positivos para evitar el desperdicio de alimentos en España y en el resto del mundo.</p>
</div><!-- /row -->

  <% if params[:tag] %>
    Iniciativas de <%= params[:tag] %>
  <% end %>

    <% @iniciativas.each do |iniciativa| %>
    <div id="listado" class="row">
      <div class="col-md-4">
        <%= link_to image_tag(iniciativa.image.url(:medium), :alt => " ", :class => "img-responsive"), iniciativa_url(iniciativa) %>
        <%#= image_tag iniciativa.image.url(:medium), :alt => "", :class => "img-responsive" %>  
      </div>
      <div class="col-md-8">
          <h3 class="veinticinco"><%= link_to iniciativa.title, iniciativa_url(iniciativa) %></h3>
          <p class="cuerpazo"><%= truncate_html(markdown(iniciativa.body).html_safe, length: 340, omission: ' +...') %><span><%= link_to "+ info", iniciativa_url(iniciativa) %></span></p>

          <!--<p>[tags con link a las tags]</p>-->

      </div>
    </div><!-- /listado -->
    <% end %>

<%= paginate(@iniciativas) %>

</div><!-- /col-md-10 -->

<div class="col-md-2">
    <%= render :partial => "partials/sidebar_iniciativas", :locals => { :url => "http://yonodesperdicio.org" } %>
</div><!-- /col-md-2-->