<% content_for(:meta_title) {"noticias"} %>
<div id="listado" class=" row col-md-10">
    <% @noticias.each do |noticia| %>

      <div class="col-md-5">
        <%= image_tag noticia.image.url(:medium), :alt => "", :class => "img-responsive" %>  
      </div>
      <div class="col-md-7">
          <h3><%= link_to noticia.title, noticia_url(noticia) %></h3>
          <p><%= noticia.published_at.strftime("%d/%m/%Y") %></p>
          <p><%= truncate_html(noticia.body.html_safe, length: 200, omission: ' ...') %>
          <span><%= link_to "  Leer más", noticia_url(noticia) %></span></p>
          <p><%= link_to noticia.category, '#' %> (categorías con link a la categoría)</p>
          <p>[¿¿RRSS aquí??]
            <% cache do %>
              <%= render :partial => "partials/social_buttons", :locals => { :url => noticia_url(noticia) } %>
            <% end %>
          </p>
      </div>
    <% end %>

<p>Paginación</p>
</div><!-- /listado -->

      <% cache do %>
        <%= render :partial => "partials/sidebar_right", :locals => { :url => "http://yonodesperdicio.org" } %>
      <% end %>

