<h2><%= @noticia.title %></h2>

<strong>Id: </strong><%= @noticia.id %>

<p><%= @noticia.body %></p>

<p><strong>Categoría: </strong><%= @noticia.category %></p>
<p><strong>Publicada el: </strong><%= @noticia.published_at %></p>
