<% content_for(:meta_title) {@noticia.title} %>

<div class="row">
  <div id="imagen" class="col-md-5">
    <%= image_tag @noticia.image.url(:large), :alt => "", :class => "img-responsive" %>    
    <p><%= @noticia.video.html_safe if @noticia.video %></p>
    <p>
      <% @noticia.tag_list.each do |tag| %>
        <%= link_to tag, noticias_url(tag: tag) %>
      <% end %>
    </p>
    <p>

        <%= render :partial => "partials/social_buttons", :locals => { :url => noticia_url(@noticia), :meta_title => @noticia.title, :meta_description =>  truncate_html(markdown(@noticia.body).html_safe, length: 340, omission: ' +...'), :text => truncate_html(@noticia.body.html_safe, length: 10, omission: ' +...') } %>

    </p>
  </div><!-- /imagen -->

  <div id="cuerpo" class="col-md-7">
    <h1 id="title"><%= @noticia.title %></h1>
    <p class="fecha"><%= @noticia.published_at.strftime("%d/%m/%Y") %></p>
    <p><%#= @noticia.id %></p>
    <p><%= markdown(@noticia.body).html_safe %></p>
    <p><%#= @noticia.body.html_safe %></p>
    <p><i class="fa fa-arrow-left"></i><%= link_to ' VOLVER' , noticias_path %></p>
    

    <!--<p>COMENTAR (Para dejar un comentario es necesario estar registrado)...
    <span class="btn btn-success"><%= link_to t('nlt.new_user'), new_user_registration_path, "data-no-turbolink" => true %></span> รณ <span class="btn btn-primary"><%= link_to t('nlt.login'), new_user_session_path, "data-no-turbolink" => true %></span></p>

    <%= render :partial => "partials/user_actions" %>
    <p>[LISTADO DE COMENTARIOS]</p>-->

    <div class="ad_meta_info">
      <b><%#= link_to t('nlt.send_a_message'), message_new_with_subject_path(user_id: ad.user.id, subject: ad.slug) %></b>
      <b><%#= link_to t('nlt.write_a_comment'), adslug_path(ad,ad.slug) %></b>
      <span class="right small">
        &nbsp;&nbsp; <%#= t('nlt.readed_count', count: ad.readed_counter) %><%#= t('nlt.comments_count', count: ad.comments_count) %>
      </span>
    </div>

 
  </div><!-- /cuerpo -->
</div><!-- /row -->
