
<div id="listado" class=" row col-md-10">
    <% @noticias.each do |noticia| %>

      <div class="col-md-4">
        [IMAGEN]
      </div>
      <div class="col-md-8">
          <h3><%= link_to 'URL', noticia_url(noticia) %> <%= noticia.title %></h3>
          <p><%= noticia.published_at %> (poner sin hora)</p>
          <p><%= noticia.body %> (sólo texto, la imagen aparte)</p>
          <p><%= noticia.category %> (categorías con link)</p>
          <p>Compartir en RRSS (iconitos para compartir directamente la noticia en RRSS)</p>
      </div>
    <% end %>

<p><%= link_to 'Volver a noticias' , '/noticias' %> ó Paginación</p>
</div><!-- /listado -->

<div id="sidebar-right" class="col-md-2">
  Aquí sidebar -right
  <h4>Noticias destacadas</h4>
    blablabla
  <h4>Archivo de noticias</h4>
    Por fechas
  <h4>Temas destacados</h4>
    (Serán categorías de las noticias??)
    * Prosalus
    * Yonodesperdicio
  <h4>Links interesantes</h4>
    * Prosalus
    * blablalba
</div><!-- /sidebar-right -->

