<% content_for(:meta_title) {"organizaciones"} %>

<h1 class="titulorojo">Con organizaciones</h1>

<div class="row">

  <div class="col-md-8">
    <p class="introduccion">En nuestra ciudad y más cerca aún, en nuestro barrio, hay numerosas iniciativas sociales que intentan
apoyar a aquellas personas que no tienen garantizado el derecho a una alimentación básica: asociaciones, iniciativas vecinales... que facilitan comida a familias cada día. ¿Conoces dónde están?<br /><br />
Hasta que todas las personas puedan tener acceso a una alimentación digna y suficiente, de forma autónoma y sostenible, podemos echar una mano.</p>
  </div><!-- col -->
    <div class="col-md-4 enrojo">
    <p>Busca aquí las organizaciones más cercanas, indicándonos el código postal que te interesa.<br /></p>
      <div id="buscadororg">
        <%= form_tag organizations_path, :method => :get do %>
            <%= text_field_tag :search, params[:search], :placeholder => "Código Postal" %>
            <%= button_tag(type: "submit", class: " ") do %>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% end %>
        <% end %>
      </div><!--buscador-->
  </div><!-- col -->

</div><!-- /row -->

<div class="row">
  <div class="col-md-12">
    <ol>
    <% @organizations.each do |organization| %>
      <li><%= link_to organization.name, organization_url(organization) %></li>  
    <% end %>
    </ol>

    <%= paginate(@organizations) %>
  </div><!-- /col -->
</div><!-- /row -->

<center><%= image_tag "propias/Bodegon.png", :alt => "Imagen bodegón'", :id => "bodegon", :class => "img-responsive" %></center>

    





