
<% content_for(:meta_title) {@organization.name} %>

<div class="row fondoblanco">
  
  <div class="col-md-4">
    <h3 id="title"><%= @organization.name %></h3>
    <p><%= markdown(@organization.address).html_safe %></p>
    <p><%= markdown(@organization.zipcode).html_safe %></p>
    <p><%= markdown(@organization.phone).html_safe %></p>
    <p><%= markdown(@organization.email).html_safe %></p>
    <p><%= markdown(@organization.website).html_safe %></p>
    <p><%#= '[Estrellitas]' %></p>
  </div><!-- col-4 -->

  <div class="col-md-4">
    <p><%= truncate_html(markdown(@organization.description).html_safe, length: 800, omission: ' +...') %></p>
  </div><!-- col-4 -->

  <div class="col-md-4">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x200&sensor=false&zoom=16&markers=#{@organization.address}", :alt => "Mapa'", :id => "mapa", :class => "img-responsive" %>
  </div><!-- col-4 -->

</div><!-- /fondoblanco -->

<div class="col-md-12 col-sm-12 col-xs-12"><i class="fa fa-arrow-left"></i><%= link_to ' VOLVER' , organizations_path %></div>