<% content_for(:meta_title) {"particulares"} %>

<h1 class="titulorojo">Entre particulares</h1>

<div class="row">
  <div id="introduccion" class="col-md-8">
    <p>En esta página podrás ver los alimentos que los particulares ofrezcan. </p>
  </div><!-- col -->
</div><!-- /row -->

    <%#= link_to t('nlt.view_more_ads'), ads_listall_path(type: :give, page: 2) %>



  <div id="gridalimentos" class="row">
    <% @alimentos.each do |alimento| %>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="alimento">
          <center>
          <%= link_to image_tag(alimento.image.url(:thumb), :alt => " ", :class => "img-responsive"), ad_url(alimento) %>
          </center>
          <h3 class="veinticinco"><%= link_to alimento.title, ad_url(alimento) %></h3>
          <p class="cantidad"><%= alimento.grams %> gramos</p>
          <p>Código postal: <%= alimento.user.zipcode %></p>
          <p>Fecha límite de entrega: <%= formated_date(alimento.pick_up_date) %></p>
          <p>Fecha de caducidad: <%= formated_date(alimento.expiration_date) %></p>
          <hr>
          <div id="usuario">
            <p><b><%= link_to alimento.user.username, profile_path(alimento.user) %></b></p>
            <p><%= alimento.user.total_quantity %></p>
          </div>
        </div><!--/alimento-->
      </div><!--/col-md-4-->
    <% end %>

</div><!--/gridrecetas-->
<%#= paginate(@alimentos) %>

