<%#= render :partial => "partials/you_have_to_sign_in" %>
<% content_for(:meta_title, t('nlt.sign_in')) %>

<div id="loginblock" class="col-md-4 col-md-offset-4">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <legend>
        <% t 'nlt.please_insert_email_and_password' %>
      </legend>

      <dt id="email-label">
      <label for="email" class="required">
        <%= t('nlt.your_email') %>
      </label>
      </dt>

      <dd id="email-element">
        <%= f.email_field :email, :autofocus => true %>
      </dd>

      <dt id="password-label">
      <label for="password" class="required">
        <%= t('nlt.password') %>
      </label>
      </dt>

      <dd id="password-element">
      <%= f.password_field :password %>
      </dd>

      <% if devise_mapping.rememberable? -%>
        <dd id="rememberme-element">
        <%= f.check_box :remember_me %>
        <%= t('nlt.remember_me') %>
        </dd>
      <% end -%>
      <div><%= f.submit 'Entrar' %></div>
      <%= render "devise/shared/links" %>
    </fieldset>
  <% end %>
  <p><%= 'Si aún no te has registrado, hazlo ahora' %></p>
  <p><%= link_to 'Regístrate', new_user_registration_path, "data-no-turbolink" => true, :title => "user register", :class => "btn btn-default" %></p>

</div>
