<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:meta_title) %> yonodesperdicio.org</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>

    <%= csrf_meta_tags %>

    <% if content_for?(:meta_description) %>
      <%= yield(:meta_description) %>
    <% else%>
      <meta name="description" content="<%= t('nlt.meta_description') %>" />
    <% end %>

    <% if content_for?(:meta_extra) %>
      <%= yield(:meta_extra) %>
    <% end %>

    <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />

  </head>
  <body>

    <!-- TODO: facebook app id -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3&appId=XXXXXXXXXXX";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

      <% cache do %>
        <%= render :partial => "partials/header", :locals => { :url => "http://yonodesperdicio.org" } %>
      <% end %>

    <div id="main" class="container">

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <p class="<%= name %>">
          <%= msg %>
          </p>
        <% end %>
      <% end %>

      <div class="info js-alert-cookie hide first-visit" data-cookie-name="alert-first-visit">
        <%= t('nlt.first_visit') %>
        <a href="#" class="js-alert-close alert-close">x</a>
      </div>

      <div class="notice js-alert-cookie hide" data-cookie-name="alert-updating">
        <%= t('nlt.updating') %>
        <a href="#" class="js-alert-close alert-close">x</a>
      </div>

      <div class="hide js-welcome-message"><%= t('nlt.welcome_message') %></div>

      <%= yield %>

    </div><!--/container-->

      <% cache do %>
        <%= render :partial => "partials/footer", :locals => { :url => "http://yonodesperdicio.org" } %>
      <% end %>

    <%= javascript_include_tag "application" %>

    <div class="hide js-cookie-message"><%= t('nlt.cookie') %></div>

  </body>
</html>
